:root {
    --grey: #e4e4e7;
    --white: #fafafa;
    --content: #71717a;
    --add: #7dd3fc;
    --remove: #f87171;
    --green: #14b8a6;
}
.bg-grey {
    background-color: var(--grey);
}

.bg-white {
    background-color: var(--white);
}

.bg-content {
    background-color: var(--content);
}

.bg-add {
    background-color: var(--add);
}

.bg-remove {
    background-color: var(--remove);
}

body {
    background-color: var(--grey);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    place-items: center;
    padding: 40px;
}

main {
    grid-column: 2;
    background-color: var(--white);
    width: 100%;
    /* confim later */
    padding: 20px 50px; 
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.head {
    display: flex;
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}

.project {
    height: 500px;
    background-color: var(--grey);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks {
    overflow-y: auto;
    background-color: var(--white);
    padding: 10px;
}

.task {
    background-color: var(--grey);
    margin: 20px 0;
    padding: 10px 5px;
}

button {
    color: var(--white);
    border-radius: 5px;
    font-weight: bold;
}
.btn-add {
    background-color: var(--add);
}

.btn-remove {
    background-color: var(--remove);
}

.btn-edit {
    background-color: var(--green);
}

.margin-left {
    margin-left: auto;
}

.bg-high-priority {
    background-color: var(--remove);
}

.bg-normal-priority {
    background-color: var(--green);
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.add-task {
    margin-top: auto;
    width: 50%;
    align-self: center;
}

.form {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}
