.bg-grey {
    background-color: #e4e4e7;
}

.bg-white {
    background-color: #fafafa;
}

.bg-content {
    background-color: #71717a;
}

.bg-add {
    background-color: #ecfccb;
}

.bg-remove {
    background-color: #fecaca;
}
